@use "../../styles/variables" as var;
@use "../../styles/mixins" as mix;

.container {
  @include mix.flex-row; 
  max-width: 100vw; 
  min-height: 100vh; 
  position: relative; 
  overflow: hidden; 
}

.imageDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }
}

.authForm {
  width: 30%;
  height:auto;
  @media (max-width: 768px) {
    width: 100%;
  }
}
