@use "../../styles/variables" as var;

.heroBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  color: var.$netflix-white;
  max-width: 800px;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.description {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 600px;
}

.title, .description {
  @media (max-width: 768px) {
    display: none;
  }
}

.buttons {
  display: flex;
  gap: 1rem;

  @media (max-width: 768px) {
   display: none;
  }
}

.button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.buttonPlay {
  background-color: var.$netflix-white;
  color: var.$netflix-black;

  &:hover {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

.buttonInfo {
  background-color: rgba(109, 109, 110, 0.7);
  color: var.$netflix-white;

  &:hover {
    background-color: rgba(109, 109, 110, 0.85);
  }
}
