@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mix;

.errorContainer {
  margin: auto;
}

.errorContent {
  text-align: center;
  // padding: 1rem;
  max-width: 600px;
}

.errorIcon {
  width: 64px;
  height: 64px;
  margin-bottom: 0.5rem;
  stroke: var.$netflix-red;
}

.errorMessage {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
}

.errorButton {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: black;
  color: var.$netflix-white;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
    background-color: var.$netflix-darkred;
  }
}
