$netflix-red: #e50914;
$netflix-darkred:#b20710;
$netflix-black: #141414;
$netflix-dark-gray: #181818;
$netflix-medium-gray: #2f2f2f;
$netflix-light-gray: #808080;
$netflix-white: #ffffff;

// Animation
$transition-slow: 0.5s ease-in-out;
$transition-base: 0.3s ease-in-out;
$transition-fast: 0.15s ease-in-out;