@use "../../styles/variables" as var;

.search {
  width: 60%;
  margin: auto;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  gap: 10px; 

  input {
    padding: 15px;
    width: 50%;
    font-size: 16px;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;

    &:focus {
      border-color: var.$netflix-red; 
      box-shadow: var.$netflix-darkred;
    }

    &::placeholder {
      color: #999; 
      font-style: italic; 
    }
  }

  button {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: var.$netflix-white;
    background-color: var.$netflix-red; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;

    &:hover {
      background-color: var.$netflix-darkred; 
      transform: scale(1.05); 
    }

    &:active {
      transform: scale(0.95); 
    }

    &:focus {
      outline: none; 
      box-shadow: 0 0 5px rgba(229, 9, 20, 0.5); 
    }
  }
}
