@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.noContentContainer {
  @include mix.fullScreenContainer;
}

.noContentContent {
  text-align: center;
  padding: 2rem;
  max-width: 600px;
}

.noContentIcon {
  width: 64px;
  height: 64px;
  stroke: var.$netflix-white;
  margin-bottom: 1.5rem;
}

.noContentTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.noContentMessage {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
}
