@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mix;

// Loading Spinner Styles
.loadingContainer {
  @include mix.fullScreenContainer;
  flex-direction: column;
  gap: 2rem;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: var.$netflix-red;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loadingText {
  font-size: 1.2rem;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
