@use "../../styles/variables" as var;
@use "../../styles/mixins";

.form {
  background-color: var.$netflix-black; 
  padding: 4rem 5rem;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  .heading {
    color: var.$netflix-white;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 5px;
    font-weight: bold;
  }

  .validMessage {
    color: var.$netflix-red;
    font-size: 1rem;
    margin-bottom: 1rem; 
    font-weight: 600;
  }

  .button {
    color: white;
    font-weight: bold;
    background-color: var.$netflix-red;
    width: 100%;
    padding: 0.75rem;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darkred;
    }
  }

  .loginText {
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    text-align: center;
  }
}
