.footer {
  background-color: #141414;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 3rem 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  @media (min-width: 768px) {
    flex-direction: row;
    text-align: left;
  }
}

.logo {
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.logoImage {
  height: 5rem;
}

.navigation {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-end;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.link {
  color: #9e9e9e;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}

.divider {
  margin: 1.5rem 0;
  border-color: #282727;
}

.footerBottom {
  text-align: center;
}

.footerText {
  font-size: 0.875rem;
  color: #9e9e9e;
}

.footerLink {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: #ff4d4d;
  }
}
